{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div>Дата: {{ currentDate }}</div>
    <div>Класс: {{ className }}</div>
    <div>Метод: {{ functionName }}</div>
{% endblock %}
